# Service configuration
SERVICE_PORT=3000
SERVICE_HOST=0.0.0.0

# Database configuration
DATABASE_MIGRATIONS=./db/migrations
DATABASE_CLIENT=sqlite
DATABASE_URL=./db/app.db

# MySQL / PG configuration
# DATABASE_CLIENT=mysql
# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=3306
# DATABASE_USER=your_database_user
# DATABASE_PASSWORD=your_database_password
# DATABASE_NAME=myapp_test

# Password definitions
PASSWORD_MIN_LENGTH=0
PASSWORD_MAX_LENGTH=0
PASSWORD_MIN_CAPITAL=0
PASSWORD_MIN_LOWERCASE=0
PASSWORD_MIN_NUMBER=0
PASSWORD_MIN_SYMBOLS=0

# Login definitions
MAX_FAILED_LOGIN_ATTEMPTS=0
BLOCK_DURATION_MINUTES=0

# Session definitions
SESSION_MAX_INACTIVE_DAYS=30
SESSION_MAX_SIMULTANEOUS_SESSIONS=0